*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Work Sans",sans-serif
}
::selection{
    background-color: yellow;
    color: black;
}
body{
    background: #012948;
    color: white;
}
.pseudo-elements,
.pseudo-classes{
    padding: 24px;
}
h1{
    text-align: center;
    margin-bottom: 32px;
}
.para::first-line{
    color: #fc605c;
}
.para::after{
    content: url(https://cdn.download.ams.birds.cornell.edu/api/v1/asset/202984001/1200);
}
.pseudo-classes{
    text-align: center;
}
a:link{
    text-decoration: none;
    color: #fc605c;
}
a:visited{
    color: white;
}
a:hover{
    text-decoration: underline;
    color: crimson;
}

.btn{
    padding: 10px 18px ;
    border: none;
    background-color: #fc605c;
    border-radius: 8px;
    margin-top: 24px;
    font-size: 20px;
}
.btn:hover{
    cursor: pointer;
}
.btn:active{
    background-color: white;
}